@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

html {
    font-size: 2.5vh;
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.illustration-container {
    display: block;
    width: 100%;
    max-width: 120vh;
    font-size: 1rem;

    * {
        backface-visibility: visible;
    }
}

.cls-13 {
    opacity: 0;
    display: none;
}

.illustration {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 81.24%;
    margin: auto;

    svg {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        left: 0;
        right: 0;
        overflow: visible !important;

        &.top-platform-svg {
            width: 52.75%;
            margin: auto;
            left: -0.5%;
            right: 0;
            bottom: 16.25%;
            z-index: 10;

            g {
                overflow: visible;
            }
        }

        &.base-platform-svg {
            width: 97%;
            margin: auto;
            left: -0.5%;
            right: 0;
            bottom: 0.5%;
        }

        &.logos-svg {
            width: 100%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}


#top {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards;
    animation-name: float_logos;
    transform-origin: 50% 0;
    animation-duration: 1s;
    animation-delay: 0s;
    transform: translate3d(0, 0, 0);
}


@keyframes float_logos {

    0% {
        transform: translate3d(0, 0, 0) rotate(0.02deg);
    }

    100% {
        transform: translate3d(0, -1%, 0) rotate(0.02deg);
    }
}


.text-container {
    position: absolute;
    z-index: 2;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;

    >div {
        display: inline-flex;
        position: relative;
        color: #0093FB;
        padding: 0.75em;
        font-family: "Montserrat", sans-serif;

        background: #FFFFFF;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.14);
        border-radius: 5px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(0.8em) scale(0.35);
            border: 0.33em solid #FFFFFF;
            margin: auto;
            display: block;
            width: 1em;
            height: 1em;
            background-color: #0093FB;
            border-radius: 100%;
        }
    }

    span {
        line-height: 1.25em;
        display: block;
        font-size: 1em;
        text-align: center;
        min-width: 3em;
    }

    &.text-1 {
        transform: translate(30%, 21%)
    }

    &.text-2 {
        transform: translate(22%, 315%)
    }

    &.text-3 {
        transform: translate(2%, 165%)
    }

    &.text-4 {
        transform: translate(16%, 471%)
    }

    &.text-5 {
        transform: translate(-9%, 413%)
    }

    &.text-6 {
        transform: translate(-6.5%, 574%)
    }

    &.text-7 {
        transform: translate(-33.5%,253%)
    }

    &.text-8 {
        transform: translate(-34.5%, 475%)
    }

    &.text-9 {
        transform: translate(-40.75%, 617%)
    }

    &.text-10 {
        transform: translate(-16.75%,932%)
    }

    &.text-11 {
        transform: translate(-38.75%, 930%)
    }

}


.arrow {
    animation: arrow_animation 15s ease-in-out infinite normal forwards;
    offset-distance: 100%;
    will-change: opacity;
    opacity: 0;
}


@keyframes arrow_animation {

    0% {
        offset-distance: 100%;
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    22%,
    100% {
        offset-distance: 0%;
        opacity: 0;
    }
}



#arrow_1 {
    offset-path: path("M436.57,9c74.61,147.4,51.36,240.69,27.66,289.7");
    animation-delay: 0.34s;
}

#arrow_2 {
    offset-path: path("M394.94,119.21c76.34,94.11,74.13,164.6,64.73,203.41");
    animation-delay: 3.34s;
}

#arrow_3 {
    offset-path: path("M276.79,76.09c143.87,81.2,176.31,171.69,183.8,225.62");
    animation-delay: 1.34s;
}

#arrow_4 {
    offset-path: path("M352.67,172.14c81.57,47.73,99.31,99.79,103.11,130.7");
    animation-delay: 4.34s;
}

#arrow_5 {
    offset-path: path("M208.5,161c158.1,25.26,219.05,95.73,244,142.2");
    animation-delay: 6.34s;
}

#arrow_6 {
    offset-path: path("M440.65,306.34C310.35,293.81,257.76,238.7,235,202.06");
    animation-direction: reverse;
    transform: rotate(180deg);
    animation-delay: 8.34s;
}

#arrow_7 {
    offset-path: path("M83.61,101C211,294.84,355,316.71,440.94,311.77");
    animation-delay: 5.34s;
}

#arrow_8 {
    offset-path: path("M75.13,170.9c152,170.1,295.19,170.55,378.1,153.3");
    animation-delay: 9.34s;
}

#arrow_9 {
    offset-path: path("M32.54,214.76C216.83,376.35,369.62,358.1,455.79,328.86");
    animation-delay: 11.34s;
}

#arrow_10 {
    offset-path: path("M180.2,329.26C298,392.5,415.52,358.34,464,327");
    animation-delay: 2.34s;
}

#arrow_11 {
    offset-path: path("M54.83,328.06c206.55,99.8,339.05,49.1,409,3.91");
    animation-delay: 13.34s;
}




@keyframes arrow_path_animation {

    0% {
        opacity: 0.5;
        stroke: #BBBBBB;
    }

    5% {
        opacity: 1;
        stroke: #0093FB;
    }

    20% {
        opacity: 1;
        stroke: #0093FB;
    }

    25%,
    100% {
        stroke: #BBBBBB;
        opacity: 0.5;
    }
}


#arrow_paths {

    path {
        animation: arrow_path_animation 15s ease-in-out infinite normal forwards;
        offset-distance: 100%;
        will-change: opacity;
        stroke: #BBBBBB;
        opacity: 0.5;
    }


    #path1 {
        animation-delay: 0.34s;
    }

    #path2 {
        animation-delay: 3.34s;
    }

    #path3 {
        animation-delay: 1.34s;
    }

    #path4 {
        animation-delay: 4.34s;
    }

    #path5 {
        animation-delay: 6.34s;
    }

    #path6 {
        animation-direction: reverse;
        animation-delay: 8.34s;
    }

    #path7 {
        animation-delay: 5.34s;
    }

    #path8 {
        animation-delay: 9.34s;
    }

    #path9 {
        animation-delay: 11.34s;
    }

    #path10 {
        animation-delay: 2.34s;
    }

    #path11 {
        animation-delay: 13.34s;
    }
}